# Assignment 10

## Ian Kurzrock

### 1. Issue relevant _import_ commands (for ___numpy, pandas, sklearn___).

In [1]:
import numpy as np
import pandas as pd
import sklearn as skl

from sklearn import cluster

### 2. Using the appropiate pandas function, read the _diabetes.txt_ into a dataframe.

In [2]:
data = pd.read_csv('diabetes.txt', delimiter=' ', header=None)

In [3]:
isinstance(data, pd.DataFrame)

True

### 3. Using the appropriate pandas function, make the features dataframe.

In [4]:
data_x = data.iloc[:,0:8]
print (data_x)

            0         1         2         3         4         5         6  \
0    0.352941  0.743719  0.590164  0.353535  0.000000  0.500745  0.234415
1    0.058824  0.427136  0.540984  0.292929  0.000000  0.396423  0.116567
2    0.470588  0.919598  0.524590  0.000000  0.000000  0.347243  0.253629
3    0.058824  0.447236  0.540984  0.232323  0.111111  0.418778  0.038002
4    0.000000  0.688442  0.327869  0.353535  0.198582  0.642325  0.943638
5    0.294118  0.582915  0.606557  0.000000  0.000000  0.381520  0.052519
6    0.176471  0.391960  0.409836  0.323232  0.104019  0.461997  0.072587
7    0.588235  0.577889  0.000000  0.000000  0.000000  0.526080  0.023911
8    0.117647  0.989950  0.573770  0.454545  0.641844  0.454545  0.034159
9    0.470588  0.628141  0.786885  0.000000  0.000000  0.000000  0.065756
10   0.235294  0.552764  0.754098  0.000000  0.000000  0.560358  0.048249
11   0.588235  0.844221  0.606557  0.000000  0.000000  0.566319  0.195986
12   0.588235  0.698492  0.655738  0.000000  0.000000  0.403875  0.581981
13   0.058824  0.949749  0.491803  0.232323  1.000000  0.448584  0.136635
14   0.294118  0.834171  0.590164  0.191919  0.206856  0.384501  0.217336
15   0.411765  0.502513  0.000000  0.000000  0.000000  0.447094  0.173356
16   0.000000  0.592965  0.688525  0.474747  0.271868  0.682563  0.201964
17   0.411765  0.537688  0.606557  0.000000  0.000000  0.441133  0.075149
18   0.058824  0.517588  0.245902  0.383838  0.098109  0.645306  0.044833
19   0.058824  0.577889  0.573770  0.303030  0.113475  0.515648  0.192570
20   0.176471  0.633166  0.721311  0.414141  0.277778  0.585693  0.267293
21   0.470588  0.497487  0.688525  0.000000  0.000000  0.527571  0.132365
22   0.411765  0.984925  0.737705  0.000000  0.000000  0.593145  0.159266
23   0.529412  0.597990  0.655738  0.353535  0.000000  0.432191  0.078992
24   0.647059  0.718593  0.770492  0.333333  0.172577  0.545455  0.075149
25   0.588235  0.628141  0.573770  0.262626  0.135934  0.463487  0.054227
26   0.411765  0.738693  0.622951  0.000000  0.000000  0.587183  0.076430
27   0.058824  0.487437  0.540984  0.151515  0.165485  0.345753  0.174637
28   0.764706  0.728643  0.672131  0.191919  0.130024  0.330849  0.071307
29   0.294118  0.587940  0.754098  0.000000  0.000000  0.508197  0.110589
..        ...       ...       ...       ...       ...       ...       ...
738  0.294118  0.939698  0.622951  0.272727  0.244681  0.649776  0.408198
739  0.235294  0.658291  0.557377  0.212121  0.196217  0.493294  0.035013
740  0.058824  0.824121  0.672131  0.434343  0.079196  0.488823  0.112297
741  0.235294  0.949749  0.901639  0.313131  0.000000  0.424739  0.257045
742  0.058824  0.582915  0.573770  0.282828  0.000000  0.408346  0.053800
743  0.176471  0.422111  0.557377  0.303030  0.125296  0.475410  0.219044
744  0.352941  0.572864  0.721311  0.000000  0.000000  0.414307  0.072161
745  0.058824  0.442211  0.508197  0.242424  0.052010  0.445604  0.146883
746  0.058824  0.422111  0.524590  0.232323  0.135934  0.549925  0.167805
747  0.411765  0.623116  0.573770  0.333333  0.254137  0.380030  0.035440
748  0.058824  0.487437  0.573770  0.404040  0.000000  0.567809  0.059778
749  0.470588  0.552764  0.622951  0.000000  0.000000  0.414307  0.067891
750  0.647059  0.517588  0.557377  0.404040  0.000000  0.688525  0.020495
751  0.647059  0.427136  0.606557  0.000000  0.000000  0.448584  0.094791
752  0.352941  0.628141  0.622951  0.000000  0.000000  0.503726  0.018360
753  0.000000  0.994975  0.540984  0.323232  0.323877  0.615499  0.181042
754  0.058824  0.437186  0.557377  0.343434  0.091017  0.560358  0.137916
755  0.352941  0.497487  0.491803  0.191919  0.063830  0.400894  0.178907
756  0.000000  0.457286  0.655738  0.000000  0.000000  0.482861  0.223313
757  0.117647  0.477387  0.442623  0.141414  0.104019  0.388972  0.286080
758  0.058824  0.497487  0.590164  0.303030  0.021277  0.575261  0.142613
759  0.352941  0.462312  0.508197  0.323232  0.148936  0.476900  0.002989
760  0.235294  0.773869  0.590164  0.292929  0.148936  0.466468  0.111016
761  0.000000  0.608040  0.540984  0.303030  0.195035  0.511177  0.053373
762  0.176471  0.391960  0.573770  0.000000  0.000000  0.484352  0.081981
763  0.117647  0.653266  0.786885  0.000000  0.000000  0.336811  0.081127
764  0.176471  0.557789  0.475410  0.313131  0.052010  0.439642  0.150299
765  0.117647  0.492462  0.491803  0.171717  0.141844  0.517139  0.051238
766  0.058824  0.718593  0.704918  0.303030  0.390071  0.448584  0.347566
767  0.058824  0.597990  0.360656  0.474747  0.074468  0.529061  0.086251

            7
0    0.483333
1    0.166667
2    0.183333
3    0.000000
4    0.200000
5    0.150000
6    0.083333
7    0.133333
8    0.533333
9    0.550000
10   0.150000
11   0.216667
12   0.600000
13   0.633333
14   0.500000
15   0.183333
16   0.166667
17   0.166667
18   0.200000
19   0.183333
20   0.100000
21   0.483333
22   0.333333
23   0.133333
24   0.500000
25   0.333333
26   0.366667
27   0.016667
28   0.600000
29   0.283333
..        ...
738  0.533333
739  0.116667
740  0.483333
741  0.266667
742  0.000000
743  0.066667
744  0.750000
745  0.033333
746  0.116667
747  0.266667
748  0.150000
749  0.616667
750  0.350000
751  0.233333
752  0.550000
753  0.116667
754  0.050000
755  0.183333
756  0.100000
757  0.016667
758  0.000000
759  0.416667
760  0.266667
761  0.200000
762  0.300000
763  0.000000
764  0.016667
765  0.016667
766  0.033333
767  0.066667

[768 rows x 8 columns]

In [5]:
data_y = data.iloc[:][8]
print(data_y)

0      class1
1      class0
2      class1
3      class0
4      class1
5      class0
6      class1
7      class0
8      class1
9      class1
10     class0
11     class1
12     class0
13     class1
14     class1
15     class1
16     class1
17     class1
18     class0
19     class1
20     class0
21     class0
22     class1
23     class1
24     class1
25     class1
26     class1
27     class0
28     class0
29     class0
        ...
738    class1
739    class0
740    class0
741    class0
742    class0
743    class0
744    class0
745    class0
746    class0
747    class0
748    class0
749    class0
750    class0
751    class0
752    class1
753    class1
754    class0
755    class0
756    class0
757    class0
758    class0
759    class0
760    class0
761    class1
762    class0
763    class0
764    class0
765    class0
766    class0
767    class0
Name: 8, Length: 768, dtype: object

### 4. numpy requires numerical arrays, make the numerical features from the dataframe of 3

In [6]:
data_x = data_x.as_matrix()

In [7]:
data_y = data_y.as_matrix()

### 5. Make 2 Spectral Cluster objects

In [8]:
spectral = cluster.SpectralClustering(n_clusters=2, eigen_solver='arpack')

### 6. Use _fit_predict()_ function to do a _spectral clustering_ of the data from the matrix 4.

In [9]:
spectral.fit_predict(data_x, data_y)

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

### 7. Comparing the clusters produced by 6. and ground-truth classes in the dataset

#### a. Extract the dataframe of the classes

In [11]:
classes = data.iloc[:,8]
classes

0      class1
1      class0
2      class1
3      class0
4      class1
5      class0
6      class1
7      class0
8      class1
9      class1
10     class0
11     class1
12     class0
13     class1
14     class1
15     class1
16     class1
17     class1
18     class0
19     class1
20     class0
21     class0
22     class1
23     class1
24     class1
25     class1
26     class1
27     class0
28     class0
29     class0
        ...
738    class1
739    class0
740    class0
741    class0
742    class0
743    class0
744    class0
745    class0
746    class0
747    class0
748    class0
749    class0
750    class0
751    class0
752    class1
753    class1
754    class0
755    class0
756    class0
757    class0
758    class0
759    class0
760    class0
761    class1
762    class0
763    class0
764    class0
765    class0
766    class0
767    class0
Name: 8, Length: 768, dtype: object

#### b. Using the replace() function of pandas, replace 'class' with '' to that class1 or 0 becomes just 1 or 0. Use the regex expression argument.

In [17]:
classes = classes.replace(to_replace='class', value='', regex=True)
classes

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    1
739    0
740    0
741    0
742    0
743    0
744    0
745    0
746    0
747    0
748    0
749    0
750    0
751    0
752    1
753    1
754    0
755    0
756    0
757    0
758    0
759    0
760    0
761    1
762    0
763    0
764    0
765    0
766    0
767    0
Name: 8, Length: 768, dtype: object

#### c. Using to_numeric(), transform entries '0' and '1' into number

In [19]:
classes = pd.to_numeric(classes)